.sets-heading {
    margin: 1px 0px;
    font-size: larger;
}

.seats-filters h3 {
    width: 15%;
    display: inline-block;
    margin-top: 1%;
}

.amount-filter {
    display: inline-block;
    width: 50%;
}

.amount-filter h3 {
    font-weight: lighter;
}

.Boarding {
    border: 1px solid rgb(9, 9, 9);
    border-radius: 10px;
    padding: 5px 20px;
    float: right;
    margin: -20px 15px 0px 0px;
}

.Boarding h3 {
    margin: 0%;
    padding-bottom: 10px;
}

.Boarding h4 {
    margin: 0%;
}

.Boarding p {
    margin: 0%;
    padding-bottom: 10px;
}

.Boarding-time {
    color: rgb(0, 0, 0);
    float: right;
    font-size: larger;
    font-weight: bold;
}

.payment-button {
    padding: 5px 95px;
    background-color: #FA7D09;
    color: white;
    font-size: larger;
    font-weight: lighter;
    margin-bottom: 1%;
}